<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<ng-template #nocrimes>
  <p>No hay crimenes cercanos!!!</p>
</ng-template>
<p>Tu ubicación puede tener un error de {{accuracy}}m</p>
<span>Criemes entre: </span>
<input type="text" [(ngModel)]="time1"/>
<input type="text" [(ngModel)]="time2"/>
<button (click)="nextHour()">Siguiente Hora</button>
<br/><br/>

<agm-map *ngIf="latitude!=null || longitude!=null" [zoom]="zoom"
  [latitude]="latitude" [longitude]="longitude">
    <agm-marker
      [latitude]="latitude"
      [longitude]="longitude"
      [label]="myMarker"></agm-marker>

    <agm-circle
      [latitude]="latitude"
      [longitude]="longitude"
      [radius]="distance"
      [fillColor]="'red'"
      [circleDraggable]="false"
      [editable]="false"></agm-circle>

    <div *ngIf="crimesShown.length > 0 else nocrimes">
      <agm-marker
        *ngFor="let crim of crimesShown"
        [latitude]="crim.lat"
        [longitude]="crim.long"
        [label]="myCrimes"></agm-marker>
    </div>
</agm-map>
