::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-tick{
    left: -10px;
  }
  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: #ea3455;
  }
  .custom-slider .ng5-slider .ng5-slider-pointer{
    width: 12px;
    height: 12px;
    top: -4.5px;
    background-color: #ea3455;
    outline: none;
  }
  .custom-slider .ng5-slider .ng5-slider-pointer::after{
    position: absolute;
    top: -9px;
    left: -9px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    transition: transform .4s cubic-bezier(.25,.8,.25,1);
    transition: background-color .4s cubic-bezier(.25,.8,.25,1);
    transition: opacity 4s cubic-bezier(.25,.8,.25,1);
  }
  .custom-slider .ng5-slider .ng5-slider-pointer.ng5-slider-active::after {
    transform: scale(1);
    opacity: 1;
    background-color: rgba(255,64,129,.2);
  }
  .custom-slider .ng5-slider .ng5-slider-selection {
    background-color: #ea3455;
  }
  .custom-slider .ng5-slider.animate .ng5-slider-bubble{
    left: 0 !important;
  }
}
agm-map {
    height: 500px;
}
.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
button:focus{
  outline: none;
}
.iconCrime{
  height: 52px;
  width: 40px;
  margin: 10px;
  background-size: contain;
  cursor: pointer
}
.iconCrime-disable{
  height: 52px;
  width: 40px;
  margin: 10px;
  opacity: .2;
  cursor: pointer
}
