agm-map {
    height: 500px;
}
.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
button:focus{
  outline: none;
}

table {
  height: 30%;
}

#table {
  transform:rotate(-90deg);  
}
#table th, #table td{
  transform:rotate(90deg);
}

td, th {
height: 50px;
} 