<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<ng-template #nocrimes>
  <p>No hay crimenes cercanos!!!</p>
</ng-template>
<p>Tu ubicación puede tener un error de {{accuracy}}m</p>
<span>Crimenes entre: </span>
<br/>
<button (click)="previousHour()" *ngIf="time1 != '00:00'">-</button>
<button (click)="previousHour()" *ngIf="time1 === '00:00'" disabled>-</button>
<input type="text" [(ngModel)]="time1"/>
<input type="text" [(ngModel)]="time2"/>
<button (click)="nextHour()" *ngIf="time2 != '24:00'" >+</button>
<button (click)="nextHour()" *ngIf="time2 === '24:00'" disabled>+</button>
<br/>

<button (click)="previousYear ()" *ngIf="query.start_date > 2015">-</button>
<button (click)="previousYear()" *ngIf="query.start_date === 2015" disabled>-</button>
<input type="text" [(ngModel)]="query.start_date"/>
<input type="text" [(ngModel)]="query.end_date"/>
<button (click)="nextYear()" *ngIf="query.end_date < 2019" >+</button>
<button (click)="nextYear()" *ngIf="query.end_date === 2019" disabled>+</button>
<br/>

<input type="text" [(ngModel)]="latitude"/>
<input type="text" [(ngModel)]="longitude"/>
<br/><br/>
<button (click)="getRequest()">Actualizar datos</button>

<table>
  <tr>
    <th *ngFor="let daySelected of daysSelecteds"> {{ daySelected.day | slice:0:1}} </th>
  </tr>
  <tr>
    <td *ngFor="let daySelected of daysSelecteds">
      <input type="checkbox" [(ngModel)]="daySelected.value"/>
    </td>
  </tr>
</table>

<div *ngFor="let mounthSelected of mounthsSelecteds">
  <input type="checkbox" [(ngModel)]="mounthSelected.value"/>
  {{ mounthSelected.mounth }}
</div>

<agm-map *ngIf="latitude!=null || longitude!=null" [zoom]="zoom"
  [latitude]="latitude" [longitude]="longitude">
    <agm-marker
      [latitude]="latitude"
      [longitude]="longitude"
      [label]="myMarker"></agm-marker>

    <agm-circle
      [latitude]="latitude"
      [longitude]="longitude"
      [radius]="distance"
      [fillColor]="'red'"
      [circleDraggable]="false"
      [editable]="false"></agm-circle>

    <div *ngIf="crimesShown.length > 0 else nocrimes">
      <div *ngFor="let crim of crimesShown">
          <agm-marker *ngIf="crim.name == 'ROBO DE VEHICULO AUTOMOTOR C.V.'"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: iconsMap.vehicle_d,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
          <agm-marker *ngIf="crim.name == 'ROBO DE VEHICULO AUTOMOTOR S.V.'"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: iconsMap.vehicle,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
      </div>
    </div>
</agm-map>
