<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<ng-template #nocrimes>
  <p>No hay crimenes cercanos!!!</p>
</ng-template>
<p>Tu ubicación puede tener un error de {{accuracy}}m</p>
<span>Crimenes entre: </span>
<br/>
  <form #form="ngForm">
    <button (click)="previousHour()" *ngIf="time1 != '00:00'">-</button>
    <button (click)="previousHour()" *ngIf="time1 === '00:00'" disabled>-</button>
    <input type="text" [(ngModel)]="time1" name="time1" />
    <input type="text" [(ngModel)]="time2" name="time2" />
    <button (click)="nextHour()" *ngIf="time2 != '24:00'" >+</button>
    <button (click)="nextHour()" *ngIf="time2 === '24:00'" disabled>+</button>
    <br/>
    
    <button (click)="previousYear ()" *ngIf="query.start_date > 2015">-</button>
    <button (click)="previousYear()" *ngIf="query.start_date === 2015" disabled>-</button>
    <input type="text" [(ngModel)]="query.start_date" name="date1"/>
    <input type="text" [(ngModel)]="query.end_date" name="date2"/>
    <button (click)="nextYear()" *ngIf="query.end_date < 2019" >+</button>
    <button (click)="nextYear()" *ngIf="query.end_date === 2019" disabled>+</button>
    <br/>
    
    <input type="text" [(ngModel)]="latitude" name="inputLat"/>
    <input type="text" [(ngModel)]="longitude" name="inputLong"/>
    <br/><br/>
    <button (click)="getRequest()">Actualizar datos</button>
    
    <table>
      <tr>
        <th *ngFor="let daySelected of daysSelecteds"> {{ daySelected.day | slice:0:1}} </th>
      </tr>
      <tr>
        <td *ngFor="let daySelected of daysSelecteds">
          <input type="checkbox" [(ngModel)]="daySelected.value" name="daySelected.day"/>
        </td>
      </tr>
    </table>
    
    <div *ngFor="let mounthSelected of mounthsSelecteds">
      <input type="checkbox" [(ngModel)]="mounthSelected.value" name="mounthSelected.mounth" />
      {{ mounthSelected.mounth }}
    </div>
  </form>

<agm-map *ngIf="latitude!=null || longitude!=null" [zoom]="zoom"
  [latitude]="latitude" [longitude]="longitude">
    <agm-marker
      [latitude]="latitude"
      [longitude]="longitude"
      [label]="myMarker"></agm-marker>

    <agm-circle
      [latitude]="latitude"
      [longitude]="longitude"
      [radius]="distance"
      [fillColor]="'red'"
      [circleDraggable]="false"
      [editable]="false"></agm-circle>

    <div *ngIf="crimesShown.length > 0 else nocrimes">
      <div *ngFor="let crim of crimesShown">
          
          <agm-marker *ngIf="crim.name == CrimesList.subway_d"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: IconsMap.subway_d,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
          <agm-marker *ngIf="crim.name == CrimesList.subway"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: IconsMap.subway,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
          <agm-marker *ngIf="crim.name == CrimesList.bus_d"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: IconsMap.bus_d,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
          <agm-marker *ngIf="crim.name == CrimesList.taxi"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: IconsMap.taxi,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
          <agm-marker *ngIf="crim.name == CrimesList.house"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: IconsMap.house,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
          <agm-marker *ngIf="crim.name == CrimesList.account"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: IconsMap.account,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
          <agm-marker *ngIf="crim.name == CrimesList.store"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: IconsMap.store,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
          <agm-marker *ngIf="crim.name == CrimesList.deliver"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: IconsMap.deliver_d,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
          <agm-marker *ngIf="crim.name == CrimesList.deliver_d"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: IconsMap.deliver_d,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
          <agm-marker *ngIf="crim.name == CrimesList.crime"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: IconsMap.crime,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
          <agm-marker *ngIf="crim.name == CrimesList.crime_d"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: IconsMap.crime_d,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
          <agm-marker *ngIf="crim.name == CrimesList.vehicle"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: IconsMap.vehicle_d,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
          <agm-marker *ngIf="crim.name == CrimesList.vehicle_d"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: IconsMap.vehicle_d,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
          <agm-marker *ngIf="crim.name == CrimesList.kidnapping"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: IconsMap.kidnapping,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
          <agm-marker *ngIf="crim.name == CrimesList.rape"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: IconsMap.rape,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
          <agm-marker *ngIf="crim.name == CrimesList.gun"
          [latitude]="crim.lat"
          [longitude]="crim.long"
          [iconUrl]="{
            url: IconsMap.gun,
            scaledSize: {
              width: 23,
              height: 30
          } }"></agm-marker>
      </div>
    </div>
</agm-map>